# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
/build
/dist
*.apk
*.aab
*.ipa

# Temporary files
*.log
*.tmp
*.temp

# Platform specific
/ios/Pods/
/android/.gradle
/android/app/build
/android/build
/android/local.properties
/android/captures

# Testing
/coverage

# Misc
*.log
.DS_Store
